doctype html
html

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1.0,minimal-ui')
  title 秋奏色フルコース - Binzokomegane Girls Union
  link(rel='stylesheet', href='./application.css')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:400,700')

body
  .wrap

    .background

    .top.section-top
      .container.text-center
        .main-image
          .enter-button
            .fork!= svgs.fork
            .dish!= svgs.dish
              .enter!= svgs.enter
            .knife!= svgs.knife
      .navbar(role='navigation')
        .container
          a(href="http://binzo.co/" target="blank")
            img(src="images/logo_bnzk.png" alt="bnzklogo" class="logo-bnzk")

    .main
      section#intro.section-intro
        .container.text-center
          h2 Introduction
          hr
          p 食欲は芸術を凌駕する。
          .info
            table
              tr
                td.left  タイトル
                td.right 秋奏色フルコース
              tr
                td.left パッケージ
                td.right 13 tracks/1disc(プレス)
              tr
                td.left 価格
                td.right 1,000 JPY
              tr
                td.left 頒布
                td.right M3-2014秋 A-15a "SKETCH UP! Rec."

      section#track.section-track
        .container.text-center
          h2 TrackList
          hr
          table
            tr
              th.track-number(rowspan=3) 一.
              td.left Alinut
              td.right Space Curry Roll
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) カレーパン
            tr
              th.track-number(rowspan=3) 二.
              td.left かめりあ
              td.right his valueless world gave us the one ray of light --- it is called soba.
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) そば
            tr
              th.track-number(rowspan=3) 三.
              td.left DJ Shimamura
              td.right Fish & Chips
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) おつまみ
            tr
              th.track-number(rowspan=3) 四.
              td.left lapix
              td.right Mushroom Breaks
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) マッシュルーム
            tr
              th.track-number(rowspan=3) 五.
              td.left n.o.d.e
              td.right Envelocker
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) 餃子
            tr
              th.track-number(rowspan=3) 六.
              td.left DOMISO
              td.right Lonely Doll
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) パスタ
            tr
              th.track-number(rowspan=3) 七.
              td.left Ryosuke Tachibana
              td.right Shalimar
            tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) インドカレー
            tr
              th.track-number(rowspan=3) 八.
              td.left Atomic
              td.right Crispy & juicy
             tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) 鶏の唐揚げ
            tr
              th.track-number(rowspan=3) 九.
              td.left t+pazolite
              td.right Magic Raffles
             tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) カレー
            tr
              th.track-number(rowspan=3) 十.
              td.left aran
              td.right MAGMA ROCK
             tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) ハンバーグ
            tr
              th.track-number(rowspan=3) 十一.
              td.left C-Show
              td.right K
             tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) 炭の焼肉 圭
            tr
              th.track-number(rowspan=3) 十二.
              td.left SAISEN TURN
              td.right サンマ
             tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) 秋刀魚の塩焼き
            tr
              th.track-number(rowspan=3) 十三.
              td.left ChankoDiving
              td.right homePosition
             tr
              td.border(colspan=2) 
            tr
              td.right(colspan=2) お米
  
      section#staff.section-staff
        .container.text-center
          h2 Staff
          hr
          table
            tr
              td: span Composer
              td Alinut(<a href="hoge" target="blank">Digital Logics</a>)
            tr
              td
              td aran
            tr
              td
              td Atomic
            tr
              td
              td C-Show
            tr
              td
              td ChankoDiving
            tr
              td
              td DJ Genki
            tr
              td
              td DJ Shimamura
            tr
              td
              td lapix
            tr
              td
              td n.o.d.e
            tr
              td
              td Ryosuke Tachibana
            tr
              td
              td SAISEN TURN(REDALiCE, Masayoshi Minoshima)
            tr
              td
              td t+pazolite
            tr
              td
              td かめりあ
            tr
              td: span Jacket Illust
              td もみじ真魚(<a href="hoge" target="blank">Digital Logics</a>)
            tr
              td: span Produce & Design
              td Hitomasu Modoru
            tr
              td: span n.o.d.e
              td Norikawa Kensuke(Compose)
            tr
              td
              td Re:Quantizer(Lyric)
            tr
              td
              td RIKA(Vocal)
            tr
              td
              td BUTSU(Vocal)
            tr
              td: span Mastering
              td DJ Noriken
            tr
              td: span Special Thanks
              td Ryo Asakura
            tr
              td
              td Kasdf
  
      section#footer
        .container.text-center
          span &copy; #{1900 + new Date().getYear()} Binzokomegane Girls Union
  
  if process.env.NODE_ENV == 'production'
    script(src='./application.js')
  else
    script(data-main='./config.js', src='./vendor/requirejs/require.js')
